<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cadastro de Produtos</h1>
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                    
                <form>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Nome do Produto:</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                            <label>Preço:</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                            <label>Quantidade:</label>
                            <input type="text" class="form-control"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Data de Compra:</label>
                            <input type="date" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <label>Categoria:</label>
                            <select class="form-control">
                                <option value="">Escolha uma opção
</option>
                            </select>   
                        </div>
                        <div class="col-md-4">
                            <label>Fornecedor:</label>
                            <select class="form-control">
                                <option value="">Escolha uma opção
</option>
                            </select>   
                        </div>
                    </div>

                    <br/>

                    <input type="submit" value="Cadastrar Produto"
                        class="btn btn-success"/>

                </form>
                
            </div>
        </div>
    </div>
</div>
