<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Nome do Fornecedor</th>
            <th>CNPJ</th>
            <th width="100">Operações</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of fornecedores 
| paginate : 
{ itemsPerPage : 5, 
currentPage : page 
}">
            <td>{{item.nome | uppercase}}</td>
            <td>{{item.cnpj}}</td>
            <td>
                <button class="btn btn-danger btn-sm" 
                    (click)="obterFornecedor
(item.idFornecedor)"
                    data-target="#janela_exclusao"
                    data-toggle="modal">
                    <i class="fa fa-trash"></i>
                </button>
                &nbsp;
                <button class="btn btn-primary btn-sm" 
                    (click)="obterFornecedor
(item.idFornecedor)"
                    data-target="#janela_edicao" 
                    data-toggle="modal">
                    <i class="fa fa-edit"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Quantidade de fornecedores: 
{{fornecedores.length}}
            </td>
        </tr>
    </tfoot>
</table>

<pagination-controls 
  (pageChange)="handlePageChange($event)"
  previousLabel="Anterior"
  nextLabel="Próximo">                    
</pagination-controls>
